<h2 mat-dialog-title>Versión de prueba</h2>
<mat-dialog-content>
  Te dió la curiosidad ? 'no te retires' : 'Descargarás los mejores juegos' ;
  <p>
    Te doy un agradecimiento por haber ingresado a mi página :D, por estos momentos está en mantenimiento, pero sigue!!
    tienes la posibilidad de descargar los juegos totalmente gratis y rápido.
  </p>

  <h3> < Novedades > </h3>
  <p> - Listar juegos</p>
  <p> - Ver Juego</p>
  <p> - Cargar todos los detalles del juego seleccionado </p>
  <p> - Validación con token </p>
  <p> - Link de descarga por mega</p>
  <h3> < ¡ Actualización futura ! > </h3>
  <p> - Iniciar sesión para el ingreso de comentarios en los juegos y posteriormente para compras de videosjuegos
  </p>
  <p> - Listar juegos por categoria como: pocos requisitos, medios requisitos y altos requisitos</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial>De acuerdo</button>
  <!-- <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>