<section>

    <div>

        <h1>
            &gt; Aún sin mantenimiento <i class="em em-sweat_smile"></i> &lt;
        </h1>

        <h3>
            &gt; Objetivo
        </h3>
        <h4>
            - Diseñado para tu entretenimiento <i class="em em-joystick"></i> y tus necesidades <i
                class="em em-desktop_computer"></i>
        </h4>

        <h3>
            &gt; Herramientas <i class="em em-hammer_and_wrench"></i>
        </h3>
        <h4>
            Tecnologías implementadas para el desarrollo de esta página <i class="em em-keyboard"></i>
        </h4>
        <h4>
            - Framework side front-end: Angular
        </h4>

        <div class="logos">
            <img src="./assets/static/media/isotipos/logoAngular.png" alt="">
        </div>

        <h4>
            - Framework side back-end: NodeJS
        </h4>
        <div class="logos">
            <img src="./assets/static/media/isotipos/logoNodeJS.png" alt="">
        </div>
        <h4>
            - Servidor: Heroku (versión Free)
        </h4>
        <div class="logos">
            <img src="./assets/static/media/isotipos/logoHeroku.png" alt="">
        </div>

        <h2>
            Desarrollado por &lt;Stiven Castro/> & &lt;Cristian Nieto/&gt; <i class="em em-i_love_you_hand_sign"></i>
        </h2>

    </div>

</section>